.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

p{
    font-family: geist;
    font-size: large;
    line-height: 27px;
}

h2 {
    font-size: 42px;
    font-weight: 400;
}

h3 {
    font-size: 32px;
    font-weight: 400;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px 7px 20px;
    background-color: #F7F4EB;
    height: 100px;

    border-bottom: 1px solid #31110F;

    z-index: 1;

    
    a{
       margin: 7px; 
       text-decoration: none;
       color: black;
    }

    a:hover {
        font-weight: 600;
        cursor: pointer;
        user-select: none;
    }

    img{
    width: 50px;
    margin: 7px;
    }
}

.landing {
    background-color: black;
    height: 70%;

    background-image: url("images/Nexus_Logo_1003-11 (1).png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;
    background-size: 1500px;
}

.pagetitle {
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: 50px;
    height: 275px;
    padding-left: 20px;

    display: flex;
    align-items: flex-end;

    h1{
        line-height: 70px;
    }
}

.nexus-tagline {
    background-color: #F7F4EB;
    padding: 35px 25px;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        max-width: 1000px;
    }
}

.projects-examples {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;

    background-color: black;
    height: 60%;
    
    padding: 35px 0 35px 0;

    .card{
        background-color: #ddd;
        overflow: hidden;
        }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .card:hover img{
        filter: brightness(70%);
    }

    .div1 {
        grid-column: span 2 / span 2;
        grid-row: span 6 / span 6;
    }

    .div2 {
        grid-column: span 4 / span 4;
        grid-row: span 3 / span 3;
        grid-column-start: 3;
    }

    .div3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    }

    .div4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 4;
    }
}

.projects {
    background-color: #F7F4EB;
    padding: 50px;

    .projects-intro-card {
        background-color: white;
        filter: drop-shadow(0 0 10px #bdb7a6);

        padding: 15px 25px;
        margin-bottom: 30px;

        h3 {
            padding-bottom: 8px;
        }
    }

    .responsive-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 16px;

        justify-items: center;
        align-items: center;


        .grid-item {
            position: relative;
            overflow: hidden;
            height: auto;
            width: 250px;
            height: 250px;
        }

        .grid-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;

            cursor: pointer;
        }
    }
}

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

.lightbox img {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.lightbox.active img {
    transform: scale(1);
}

.about {
    padding: 50px;
    display: grid;
    gap: 15px;
    background-color: #F7F4EB;
}

.about-additional {
    display: grid;
    justify-self: center;
    width: 80%;
    gap: 35px;
    padding: 50px;
    h2, h3{
        padding-bottom: 15px;
    }
}

a {
    text-decoration: none;
}

button{
    all: unset;

    background-color: #31110F;
    color: #F7F4EB;
    height: 45px;
    width: 200px;
    border-radius: 25px;
        
    margin-top: 20px;
    border: 2px solid #31110F;

    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
}
    
button:hover {
    background-color: #4c2825;
}


.info {
    justify-self: center;
    width: 75%;
    border-bottom: 1px solid #31110F;
}

.info-last {
        border-bottom: none !important;
}

summary {
    padding: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary h2 {
    margin: 0;
}

.icon {
    font-size: 30px;
    transition: transform 0.3s ease;
}

details[open] .icon {
    transform: rotate(45deg);
}

.info-content {
    padding: 0 50px 50px;
    display: grid;
    gap: 15px;
}

.contact {
    padding: 50px;
    display: grid;
    max-width: 900px;

    display: grid;
    justify-self: center;

    h2 {
        margin-top: 0;
        text-align: center;
        padding-bottom: 10px;
    }

    p {
        padding-bottom: 15px;
        text-align: center;
    }
}


.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    display: none;
}

.submit-button {
    all: unset;

    background-color: #31110F;
    color: #F7F4EB;
    height: 45px;
    width: 300px;
    border-radius: 25px;
        
    margin-top: 20px;
    border: 2px solid #31110F;

    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.submit-button:hover {
    background-color: #4c2825;
}

.carousel{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 100%;

    .carousel-card{
        background-color: white;
        height: 80%;
        width: 90%;
        border-radius: 25px;
        display: flex;

        gap: 20px;
        align-items: center;
        justify-content: center;

        border: white solid 10px;
    }
}

.carousel {
    width: 100%;
    margin: auto;
}

.carousel-card {
    position: relative;
    overflow: hidden;
    max-width: 900px;
}

.carousel-slides {
    position: absolute;
    inset: 0;
}

.slide {
    position: absolute;
    inset: 0;
    color: black;

    padding: 0 80px 0 80px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slide img {
    height: 330px;
    width: 250px;
    
    object-fit: cover;
    object-position: center;
    display: block;

    cursor: pointer;
}

.slide.active {
    opacity: 1;
    pointer-events: auto;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 32px;
    padding: 10px 15px 15px;
    cursor: pointer;
}

.nav.prev { 
    left: 5px;
    width: 25px;
    height: 35px;
    border-radius: 100px;
}
.nav.next { 
    right: 5px;
    width: 25px;
    height: 35px;
    border-radius: 100px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px 7px 20px;
    background-color: #F7F4EB;
    height: 150px;

    img{
        width: 75px;
    }

    a:hover {
        font-weight: 600;
        cursor: pointer;
        user-select: none;
    }
}




@media (max-width: 768px) {
    .pagetitle {
        font-size: 30px;
        h1{
        line-height: 41px;
    }    
    }

    .info {
        padding: 0;
        width: 90%;

        h2 {
            font-size: 34px;
        }
    }
}